#mainBox{
    background-color: rgb(255, 255, 255);
   
}
section>div{
    max-width: 1000px;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
}
section>h1{
    line-height: 50%;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;}